# Auto detect text files and perform LF normalization
* text=auto
# Ortam dosyası
.env

# Mac system files
.DS_Store

# Python cache
__pycache__/

# Büyük veri dosyaları
*.csv
outputs/
wikidata5m_raw_data/

# Tek tek dosyalar
nodes.csv
relationships.csv
import.report
